@use 'vuetify';

// link underlines were showing on iOS
a {
  text-decoration: none !important;
}

// give all header elements their corresponding Vuetify class
// ie h1 will get class text-h1
@for $i from 1 through 6 {
  h#{$i} {
    @extend .text-h#{$i};
  }
}
